/* Filter, sort and page buttons */

#filters-sorting {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2vw;
    row-gap: 2vh;
    align-items: center;
    overflow: hidden;
}

.filter-button {
    width: 100%;
}

.filter-button:hover {
    background-color: var(--selected-background);
}

#sorting-select {
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    width: 100%;
    margin: 0 0.3vw 0 0.3vw;
    padding: 1vh 10px 1vh 10px;
    border: 1px solid var(--border-blue);
    border-radius: 5px;
}

#page-buttons-top {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    justify-self: center;
}

.page-buttons {
    display: flex;
    justify-content: center;
}

.page-buttons button {
    margin: 0 0.3vw 0 0.3vw;
    padding: 1vh 10px 1vh 10px;
}

@media (max-width: 900px) {

    .filter-button {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    #sorting-select {
        grid-row: 2;
        grid-column: 1 / -1;
    }

    #page-buttons-top {
        display: none;
    }

    #page-buttons-bottom {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }

    #page-buttons-bottom .activepage,
    #page-buttons-bottom .page-number-button {
        display: none;
    }

    #previous-button-bottom {
        grid-column: 1;
        grid-row: 1;
    }

    #next-button-bottom {
        grid-column: 2;
        grid-row: 1;
    }

    #text-search-input {
        grid-row: 3;
        grid-column: 1 / -1;
        width: 100%;
    }
}

.activepage {
    background-color: var(--selected-background);
}

#text-search-input {
    width: 100%;
    height: 5vh;
    background-color: #11212D;
    color: white;
    padding-left: 10px;
    border: 1px solid var(--light-bg);
    border-radius: 10px;
    box-sizing: border-box;
}

/* Model content overlay animation */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

/* Trap Results List */

#results-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1vw;
    padding: 0;
    width: 100%;
}

@media (max-width: 900px) {
    #results-list {
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
}

/* Trap cards */

.results-card {
    background-color: var(--light-bg);
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    height: 200px;
    padding: 1vh;
    margin-bottom: 1vh;
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 40vw;
    position: relative;
    overflow: hidden;
}

@media (max-width: 900px) {
    .results-card {
        min-height: 30vh;
        min-width: 100%;
        grid-template-columns: 1fr 6fr;
        padding: 1em;
        margin-bottom: 2vh;
    }
}

/* Trap cards - control buttons */

.card-button-controls {
    display: flex;
    row-gap: 1vh;
    flex-direction: column;
    background-color: #111d24;
    border-radius: 5px;
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-content: center;
    align-items: center;
}

.card-control-button {
    height: 30px;
    width: 30px;
    border: none;
    font-size: 1.5rem;
    box-sizing: content-box;
    background: none;
    border: none;
    cursor: pointer;
}

.card-control-button-image {
    width: 30px;
    height: 30px;
}

/* Trap cards - title */

.card-info {
    grid-row: 1;
    grid-column: 2;
    margin: auto;
    align-items: center;
    text-align: center;
}

.trap-name {
    font-weight: 500;
}

.subtitle {
    font-size: smaller;
    color: var(--lighter-text);
}

/* Trap cards - stats table */

.card-stats-table {
    grid-column: 2;
    grid-row: 2;
    width: 90%;
    margin: auto;
}

.card-stats-table th {
    width: 20%;
}

@media (max-width: 900px) {
    .card-stats-table {
        font-size: smaller;
        margin: auto;
    }
}

.stat-image {
    width: 30px;
    height: 30px;
}

@media (max-width: 900px) {
    .stat-image {
        width: 20px;
        height: 20px;
    }
}

/* Trap cards - images */

.weapon-image, .base-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: var(--dark-bg);
    border-radius: 20px;
}

.base-image img {
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg);
    border-radius: 20px;
}

.image-viewer-button {
    display: none;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 2;
}

@media (max-width: 900px) {
    .weapon-image {
        display: none;
    }
}

.weapon-image:hover {
    box-shadow: 0 0 10px 5px #253e4b;
    cursor: pointer;
}

#no-results {
    text-align: center;
    margin-top: 5vh;
    font-size: larger;
}

#reset-filters-button {
    background-color: #11212D;
    color: white;
    padding: 1vh 10px 1vh 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
}

#reset-filters-button:hover {
    background-color: var(--selected-background);
}

