/* Filter, sort and page buttons */

#filters-sorting {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2vw;
    row-gap: 1vh;
    align-items: center;
    overflow: hidden;
}

.filter-button {
    width: 100%;
}

.filter-button:hover {
    background-color: var(--selected-background);
}

.sorter select {
    background-color: #11212D;
    color: white;
    height: 5vh;
    margin-left: 1vw;
    text-align: center;
}

#page-buttons-top {
    grid-column: 1 / -1;
    width: 100%;
    justify-self: center;
}

.page-buttons {
    display: flex;
    justify-content: center;
    margin: 2vh auto;
}

.page-buttons button {
    margin: 0 0.3vw 0 0.3vw;
    padding: 1vh 10px 1vh 10px;
}

@media (max-width: 600px) {
    #page-buttons-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .page-number-button,
    .activepage {
        display: none;
    }

    .previous-button {
        grid-column: 1;
    }

    .next-button {
        grid-column: 2;
    }
}

.activepage {
    background-color: var(--selected-background);
}

.text-search-input {
    width: 100%;
    height: 5vh;
    background-color: #11212D;
    color: white;
    padding-left: 10px;
    border: 1px solid var(--light-bg);
    border-radius: 5px;
}

/* Model content overlay animation */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

/* Tables */

.traptable {
    text-align: left;
    margin: 1vh auto 1vh auto;
    border-collapse: collapse;
    width: 95%;
    table-layout: fixed;
    overflow: hidden;
}

.traptable th:nth-child(2),
.traptable td:nth-child(2) {
    width: 25%;
    /* Base Name */
}

.traptable th {
    text-align: center;
    font-size: small;
}

.traptable th,
.traptable td {
    border: 1px solid var(--dark-bg);
    padding: 0.5em;
}

.limited {
    color: rgb(190, 172, 68);
    font-weight: bold;
    padding: 2px 4px 2px 4px;
    margin-left: 5px;
    border-radius: 5px;
}

/* No results message */
#no-results {
    text-align: center;
    margin-top: 5vh;
    font-size: larger;
}

#reset-filters-button {
    background-color: #11212D;
    color: white;
    padding: 1vh 10px 1vh 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem;
}

#reset-filters-button:hover {
    background-color: var(--selected-background);
}