#filter-form {
    padding: 1em;
}

.filter-button {
    width: 100%;
}

#filters-sorting {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2vw;
    row-gap: 2vh;
    align-items: center;
    overflow: hidden;
}

.modal-form {
    position: relative;
    width: 50%;
    z-index: 3;
    text-align: center;
    margin: 1em auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--light-bg);
}

@media (max-width: 900px) {
    .modal-form {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.modal-form legend {
    text-align: center;
}

.slider-container {
    display: grid;
    row-gap: 2vh;
    grid-template-columns: 1fr 1fr 1fr;
}

.power-type-buttons button {
    width: 40%;
    margin: 1vh;
    padding: 10px;
}

#filter-form fieldset {
    margin-top: 1vh;
    border: 1px solid var(--border-blue);
    border-radius: 10px;
}

@media (max-width: 900px) {
    #filter-form fieldset {
    width: 80%;
    margin: 2vh auto;
}
}

.form-buttons {
    display: block;
    margin-top: 1rem;
}

.form-buttons button {
    padding: 1em;
    margin: 0.5em;
}

.form-power-selection {
    width: 60%;
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
}

@media (max-width: 900px) {
    .form-power-selection {
        width: 100%;
    }
}

.power-type-input {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 0.5rem;
}

.power-type-input .form-check-input {
    grid-column: 1;
    justify-self: end;
    margin: 0;
}

.power-type-input .form-check-label {
    grid-column: 2;
    justify-self: start;
    text-align: left;
}

.form-check-input {
    grid-column: 2;
    text-align: left;
}

.form-check-label {
    text-align: left;
    grid-column: 2;
}

.form-other-controls {
    margin: 2vh auto 2vh auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 1vw;
}

.form-other-controls select {
    width: 100%;
}

.form-label {
    text-align: left;
}