footer {
    background-color: var(--light-bg);
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 100%;
    z-index: 10;
    margin-top: auto;
    flex-shrink: 0;
    padding: 1em 0;
}

footer div {
    padding: 5px;
}

#footer-credit {
    grid-row: 1;
    grid-column: 1;
    margin-left: 3vw;
    text-align: left;
}

#copyright-notice {
    margin-left: 3vw;
    font-size: smaller;
    grid-row: 2;
    grid-column: 1;
}

#footer-links {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-right: 3vw;
    text-align: right;
    align-content: center;
}

/* Responsive */
/* @media (max-width: 900px) {
    footer {
        display: none;
    }
} */