footer {
    background-color: var(--light-bg);
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 100%;
    z-index: 2;
    margin-top: auto;
}

#footer-credit {
    margin-left: 5vw;
    text-align: left;
}

#footer-links {
    margin-right: 5vw;
    text-align: right;
}

/* Responsive */
@media (max-width: 480px) {
    footer {
        display: none;
    }
}