.app-footer {
    position: relative;
    bottom: 0;
    background-color: var(--light-bg);
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 100%;
    z-index: 2;
}

#footer-credit {
    margin-left: 2vw;
    text-align: left;
}

#footer-links {
    margin-right: 2vw;
    text-align: right;
}