header {
    position: sticky;
    display: grid;
    align-items: center;
    grid-template-columns: 6fr 1fr;
    top: 0px;
    background-color: var(--light-bg);
    width: 100%;
    z-index: 2;
    margin-bottom: 2vh;
}

header h1 {
    text-align: left;
    margin-left: 2vw;
}

#hamburger-button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* Modal */

.header-nav-modal-overlay {
    background: var(--dark-bg);
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    z-index: 10;
}

.header-nav-modal-content {
    background: var(--dark-bg);
    z-index: 10;
}

#header-nav-modal button {
    background: none;
    border: solid 1px white;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    text-align: left;
    margin: 5vh 0;
    width: 100%;
    text-align: center;
    width: 90%;
    margin: 2vh auto;
}

.header-nav-modal-content nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#hamburger-nav-list {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}

#hamburger-nav-list li {
    width: 100%;
    height: 5vh;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--light-bg);
}

/* Responsive */
@media (max-width: 480px) {
    header {
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        height: 10vh;
    }

    h1 {
        font-size: 1.2em;
    }

    h1 a {
        margin-left: 2vw;
    }

    #hamburger-button {
        width: 100%;
        padding: 0;
        border-left: 1px solid rgb(102, 102, 102);
        border-radius: 0
    }

    .header-nav-modal-overlay {
        width: 100%;
    }
}