:root {
    --dark-bg: #090b0c;
    --light-bg: #111416;
    --link-green: #B5FFE1;
    --button-blue: #6D9DC5;
}

/* Welcome Window Modal */

.welcome-window {
    position: relative;
    top: 10vh;
    margin: 5vh;
    padding: 5vh;
    background-color: #11212D;
    border-style: solid;
    border-radius: 15px;
    z-index: 5;
}

.welcome-window button {
    position: absolute;
    height: 3vh;
    width: 8vh;
    top: 2vh;
    right: 2vh;
}

.welcome-window li {
    margin-top: 1vh;
}

/* Page Buttons */

.pagebuttons {
    margin: 2% auto 2% auto;
}

.pagebuttons button {
    min-width: 30px;
    margin: 0 0.3vw 0 0.3vw;
    padding: 0 10px 0 10px;
}

.activepage {
    background-color: var(--selected-background);
}

/* Filter Modal Component */

.modal-form {
    width: 60%;
    z-index: 3;
    text-align: center;
    margin: 5vh auto auto auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--light-bg);
}

.modal-form legend {
    text-align: center;
}

.slider-container {
    display:grid;
    row-gap: 2vh;
    grid-template-columns: 1fr 1fr 1fr;
}

.power-type-buttons button {
    width: 40%;
    margin: 1vh;
}

.warning-message {
    margin: 1vh auto 1vh auto;
    width: 90%;
    border-color: red;
    color: white;
    background-color: #D95D39;
    border-style: solid;
    border-radius: 15px;
    padding: 1rem;
    word-wrap: break-word;
}

.warning-message-inactive {
    display: none;
}

fieldset {
    margin-top: 1vh;
}

.form-buttons {
    display: block;
    margin-top: 1rem;
}

.form-buttons button {
    padding: 1em;
    margin: 0 2% 0 2%;
}

.form-power-selection {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

.form-check-label {
    text-align: left;
}

.form-other-controls {
    margin: 2vh auto 2vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1vh;
    column-gap: 1vw;
}

.form-other-controls select {
    width: 60%;
}

/* Filter and sort buttons */

.filter-sort-container {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    column-gap: 2%;
    align-items: center;
    margin: 1vh auto 0 auto;
}

.filter-button {
    width: 60%;
    height: 5vh;
}

.sorter select {
    background-color: #11212D;
    color: white;
    height: 5vh;
    margin-left: 1vw;
    text-align: center;
}

/* Model content overlay animation */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

#weapontable {
    text-align: left;
    margin: 2vh auto 2vh auto;
    border-collapse: collapse;
    width: 90%;
}

#weapontable th, #weapontable td {
    border: 1px solid var(--dark-bg);
    padding: 8px;
}