.comparison-container {
  display: grid;
  grid-template-columns: fit-content(50%) fit-content(50%);
  grid-template-rows: fit-content(50%) fit-content(50%);
  align-items: center;
  width: 80%;
  margin: auto;
}

.comparison-container input {
  width: 50%;
  margin: auto;
}

.comparison-form {
  display: flex;
  justify-content: center;
}