@import url('https://fonts.googleapis.com/css?family=Kanit:wght@0,300;0,400;0,500;0,600&subset=latin');

body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: var(--dark-bg);
    color: white;
    font-size: smaller;
}

/* Generic classes for reuse throughout */

button {
    margin: 1vh auto 1vh auto;
    background: none;
    color: white;
    border: 1px solid var(--border-blue);
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px 20px #000000;
}

.content-container {
    width: 80%;
    margin: 5vh auto 0 auto;
    text-align: left;
}

/* App Header Bar */

.app-header {
    position: sticky;
    top: 0px;
    background-color: var(--light-bg);
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 100%;
    margin-bottom: 2vh;
    z-index: 2;
}

.app-header h1 {
    text-align: left;
    margin-left: 5vw;
}

.header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
    width: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white !important;
    font-weight: 500;
}

/* App footer */

.app-footer {
    position: sticky;
    bottom: 0px;
    background-color: var(--light-bg);
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: 100%;
    margin-top: 2vh;
    z-index: 2;
}

#footer-credit {
    margin-left: 2vw;
    text-align: left;
}

#footer-links {
    margin-right: 2vw;
    text-align: right;
}

/* Links */

a:link, a:visited, a:hover, a:active { 
    text-decoration: none;
    color: #B5FFE1;
}

/* "Jump to top" button */
.top-button {
    position: fixed; /* Fixed/sticky position */
    height: 5vh;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--button-blue); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

/* APP COMPONENTS COMMON TO BOTH APPS */
/* Name search bar */

 .name-search-container {
    display:grid;
    align-items: center;
    width: 60%;
    margin: 1vh auto 1vh auto;
    grid-template-columns: 1fr 1fr 1fr;
}