.home-container {
    display: flex;
}

.home-nav-item {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    height: 40vh;
    width: 30%;
    border: 1px solid var(--border-blue);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-nav-item:hover {
    box-shadow: 0 4px 8px 0 var(--blue-glow), 0 6px 20px 0 var(--blue-glow);
}