/* Styles for specific components */
@import "./components/header.css";
@import "./components/browser.css";
@import "./components/footer.css";
@import "./components/filterform.css";
@import "./components/home.css";

/* Responsive styles */
@import "responsive.css" screen and (max-width: 800px);

:root {
    --dark-bg: #0A141B;
    --light-bg: #11212D;
    --link-green: #B5FFE1;
    --button-blue: #6D9DC5;
    --border-blue: #32b8da;
    --blue-glow: #5787be;
    --selected-background: rgba(168, 104, 221, 0.521);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: var(--dark-bg);
    color: white;
    font-size: smaller;
}

button {
    margin: 1vh auto 1vh auto;
    background: none;
    color: white;
    border: 1px solid var(--border-blue);
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px 20px #000000;
}

.content-container {
    width: 80%;
    margin: 5vh auto 0 auto;
    text-align: left;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

/* Links */

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #B5FFE1;
}