/* Styles for specific components */
@import "./components/header.css";
@import "./components/app.css";
@import "./components/footer.css";
@import "./components/filterform.css";
@import "./components/wishlist.css";
@import "./components/imageviewer.css";

:root {
    --dark-bg: #0A141B;
    --light-bg: #11212D;
    --link-green: #d0d6d4;
    --button-blue: #6D9DC5;
    --border-blue: #2b3e4b;
    --blue-glow: #37516e;
    --active-background: #569981;
    --selected-background: rgb(78, 124, 100);
    --lighter-text: #a1afdd;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    background-color: var(--dark-bg);
    color: white;
    font-size: medium;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

button {
    margin: 1vh auto 1vh auto;
    background: none;
    color: white;
    border: 1px solid var(--border-blue);
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}

button:hover {
    background-color: var(--selected-background);
}

main{
    margin: 0 3vw;
    padding-bottom: 20px;
    width: calc(100% - 6vw);
    overflow-x: hidden;
}

@media (max-width: 900px) {
    main {
        margin: 0 2vw;
        width: calc(100% - 4vw);
    }
}

.text-page {
    margin-left: 6vw;
    margin-right: 6vw;
    width: auto;
}

.text-page p {
    text-align: justify;
}

.warning-message {
    padding: 1em;
    border-radius: 10px;
    color: var(--link-green);
    border: 1px solid red;
    background-color: rgb(87, 27, 27);
    text-align: center;
}

/* Links */

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #a1afdd;
}

a:hover {
    color: var(--link-green);
}

html { scrollbar-gutter: stable; }
