/* Styles for specific components */
@import "./components/header.css";
@import "./components/browser.css";
@import "./components/footer.css";
@import "./components/filterform.css";
@import "./components/home.css";

:root {
    --dark-bg: #0A141B;
    --light-bg: #11212D;
    --link-green: #d0d6d4;
    --button-blue: #6D9DC5;
    --border-blue: #32b8da;
    --blue-glow: #5787be;
    --selected-background: rgba(104, 112, 221, 1);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    background-color: var(--dark-bg);
    color: white;
    font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

button {
    margin: 1vh auto 1vh auto;
    background: none;
    color: white;
    border: 1px solid var(--border-blue);
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px 20px #000000;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    margin: 0 5vw;
    flex: 1;
}

/* Links */

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #a1afdd;
}

/* Responsive */

@media (max-width: 800px) {

    body {
        font-size:medium;
    }

    main {
        margin-left: 5vw;
    }
}