/* Styles for specific components */
@import "./components/header.css";
@import "./components/browser.css";
@import "./components/footer.css";
@import "./components/filterform.css";
@import "./components/wishlist.css";
@import "./components/imageviewer.css";

:root {
    --dark-bg: #0A141B;
    --light-bg: #11212D;
    --link-green: #d0d6d4;
    --button-blue: #6D9DC5;
    --border-blue: #32b8da;
    --blue-glow: #5787be;
    --selected-background: rgba(104, 112, 221, 1);
    --lighter-text: #a1afdd;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    background-color: var(--dark-bg);
    color: white;
    font-size: medium;
}

#root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

button {
    margin: 1vh auto 1vh auto;
    background: none;
    color: white;
    border: 1px solid var(--border-blue);
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
}

button:active {
    box-shadow: 2px 2px 20px #000000;
}

main{
    margin: 0 3vw 20px 3vw;
    width: calc(100% - 6vw);
    overflow-x: hidden;
}

.warning-message {
    color: var(--link-green);
    background-color: rgb(87, 27, 27);
    text-align: center;
    margin-top: 1vh;
}

@media (max-width: 900px) {
    main {
        margin: 0 2vw;
        width: calc(100% - 4vw);
    }
}

/* Links */

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #a1afdd;
}

a:hover {
    color: var(--link-green);
}